@import "variables";

.btn {
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  border: 1 solid transparent;
  background-color: $primary;

  .ns-dark & {
    background-color: $dark;
  }
}

.btn-sq {
  /*Android*/
  padding: 6;
  /*Ios*/
  padding: 12;
}

.btn-wt {
  color: $white;
  z-index: 0;
}

/*BOTTOM NAVIGATION*/

.bottom-menu {
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
  /*width: 100%;*/
}

.bottom-menu .fas {
  color: $primary;

  .ns-dark & {
    color: #D3D3D3;
  }
}

.bottom-menu .menu-choose {
  flex-direction: row;
  justify-content: center;
  border-color: #D3D3D3;
  border-right-width: 2px;
  border-right-style: solid;
  border-top-width: 2px;
  border-top-style: solid;
  width: 33%;
  padding-top: 4%;

  .ns-dark & {
    border-color: $dark;
  }
}


/*MODAL*/

.confirmOrDiscard {
  flex-direction: row;
  justify-content: flex-end;
}

.confirmOrDiscard Label {
  font-size: 18;
  /*Android*/
  margin: 8;
  margin-bottom: 10;
  /*Ios*/
  margin: 16;
  margin-bottom: 20;
}

.confirmOrDiscard .btn {
  padding: 6;
}

.confirmOrDiscard .discardBtn {
  border-width: 1px;
  border-color: #1a0dab;
  border-style: solid;
  color: #1a0dab;
  background-color: #fff;

  .ns-dark & {
    border-color: $dark;
    color: $white;
    background-color: $dark;
  }
}

.confirmOrDiscard .confirmBtn {
  color: $white;

  .ns-dark & {
    color: $white;
  }
}
